.upper-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #0b0b0e;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem 0rem;
}

.upper-footer-left {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.upper-footer-left ul {
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.upper-footer-left ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  text-align: center;
  letter-spacing: -0.01em;

  color: #9f9fac;
  list-style: none;
  cursor: pointer;
}

.upper-footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.upper-footer-right img {
  height: auto;
  width: 2.4rem;
  cursor: pointer;
}

.upper-footer-left img {
  height: auto;
  width: 144px;
}

.lower-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #1c1c22;
  padding: 1rem 0rem;
}

.lower-footer-left {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: -0.0063em;

  color: #d4d4d9;
}

.lower-footer-right li {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  text-align: center;
  letter-spacing: -0.01em;

  color: #9f9fac;

  list-style: none;
}

.lower-footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.lower-footer-left {
  text-align: center;
}

/* sm devices  */
@media (min-width: 640px) {
  .upper-footer {
    justify-content: space-between;
    padding: 4rem 1rem;
  }

  .lower-footer {
    padding: 1rem 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* md devices  */
@media (min-width: 768px) {
  .upper-footer {
    padding: 4rem 2rem;
  }

  .upper-footer-left {
    column-gap: 3rem;
  }

  .upper-footer-left ul {
    column-gap: 2rem;
  }

  .lower-footer {
    padding: 1rem 2rem;
  }
}

/* lg devices  */
@media (min-width: 1024px) {
  .upper-footer {
    padding: 4rem 12rem;
  }

  .upper-footer-right {
    column-gap: 2rem;
  }

  .lower-footer {
    padding: 1rem 12rem;
  }
}
